/laskarit/viikko2/unicafe/.pytest_cache
/laskarit/viikko2/unicafe/src/__pycache__/
/laskarit/viikko2/unicafe/src/tests/__pycache__/
/laskarit/viikko2/unicafe/.coverage
/laskarit/viikko2/unicafe/htmlcov
src/__pycache__/
.coverage
/src/tests/__pycache__/
/scr/.coverage
/scr/.coveragerc
__pycache__